{{ $attrs := .Site.GetPage "/attrs" }}
{{ range $attr := $attrs.Resources }}

### `{{ .Params.name }}` {id="d:{{ .Params.Name }}"}


<I>
{{- range $i, $t := .Params.types -}}
{{- if $i }} | {{ end -}}
<A HREF="#k:{{$t}}">{{$t}}</A>
{{- end -}}
{{- range $i, $d := .Params.defaults }}
  {{- if eq $i 0 }}, default: {{ end }}
  {{- if $i }}, {{ end -}}
  {{- $d -}}
{{- end -}}
{{- range $i, $minimum := .Params.minimums -}}
  {{- if eq $i 0 }}, minimum: {{ end }}
  {{- if $i }}, {{ end -}}
  {{- $minimum -}}
{{- end -}}
</I>

{{ .Content }}

<i>Valid on:</i>

{{ if in .Params.used_by "C" }}* Clusters{{ end }}
{{ if in .Params.used_by "E" }}* Edges{{ end }}
{{ if in .Params.used_by "G" }}* Graphs{{ end }}
{{ if in .Params.used_by "N" }}* Nodes{{ end }}
{{ if in .Params.used_by "S" }}* Subgraphs{{ end }}

{{- if .Params.flags -}}

<I>
Note:
{{ if eq (index .Params.flags 0) "notdot" -}}
  not dot
{{- else -}}
  {{- range $i, $flag := .Params.flags -}}
    {{- if $i }}, {{ end -}}
    {{- $flag -}}
  {{- end }} only
{{- end -}}
</I>

{{- end -}}
{{ end }}
